<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find esa_servo)/rosconsole.conf" />

  <rosparam command="load" file="$(find esa_servo)/config/hardware.yaml" />
  <rosparam command="load" file="$(find esa_servo)/config/controllers.yaml" />
  <rosparam command="load" file="$(find esa_servo)/config/joint_limits.yaml" />

  <!-- -->
  <node name="ewdl_driver" launch-prefix="ethercat_grant" pkg="esa_servo" type="ewdl_driver" output="screen">
    <rosparam ns="ethercat" command="load" file="$(find esa_servo)/config/ethercat.yaml" />
  </node>

  <!-- -->
  <node ns="ewdl_driver" name="controller_loader" pkg="controller_manager" type="spawner" output="screen"
    args="/rail/controller/state
          /rail_controller" />

</launch>
